#Index {
  .btn {
    padding: 15px 30px;
    border-radius: 1px;
    letter-spacing: 2px;
    border: 1px solid #E45F74;
    background: #E45F74;
    color: #fff;
  }

  .btn:hover {
    color: #E45F74;
    background: none;
  }

  .btn-2 {
    font-size: .9em;
    padding: 15px 30px;
    border-radius: 1px;
    letter-spacing: 2px;
    border: 1px solid #E45F74;
  }

  .btn-2:hover {
    background: #E45F74;
    color: #fff;
  }

  .border-btn {
    font-size: .9em;
    padding-bottom: 5px;
    background: none;
    color: inherit;
    border: 0;
    position: relative;
    overflow: hidden;
  }

  .border-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    transition: all .3s;
    background: #E45F74;
  }

  .border-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    transform: translateX(-130%);
    transition: all .3s;
    background: #E45F74;
  }

  .border-btn:hover:after {
    transform: translateX(130%);
  }

  .border-btn:hover:before {
    transform: translateX(0%);
  }


  .section {
    padding: 100px 0 70px;
  }

  .section .heading {
    padding-bottom: 40px;
  }

  .section .heading .icon {
    font-size: 18px;
    margin-top: 20px;
    color: #E45F74;
  }

  .section .heading .icon.color-white {
    color: #fff;
  }

  .section .heading .heading-bottom {
    margin-top: 20px;
    display: inline-block;
    width: 160px;
    height: 20px;
    line-height: 20px;
    position: relative;
  }

  .section .heading .heading-bottom .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -9px;
  }

  .section .heading .heading-bottom:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.5px;
    height: 1px;
    width: 60px;
    background: #aaa;
  }

  .section .heading .heading-bottom:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.5px;
    height: 1px;
    width: 60px;
    background: #aaa;
  }

  .section .margin-bottom {
    margin-bottom: 30px;
  }

  .color-white {
    color: #fff;
  }

  .display-table {
    display: table;
    height: 100%;
    width: 100%;
  }

  .display-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

  ::-webkit-input-placeholder {
    font-size: .9em;
    letter-spacing: 1px;
  }

  ::-moz-placeholder {
    font-size: .9em;
    letter-spacing: 1px;
  }

  :-ms-input-placeholder {
    font-size: .9em;
    letter-spacing: 1px;
  }

  :-moz-placeholder {
    font-size: .9em;
    letter-spacing: 1px;
  }

  .main-slider {
    height: 100vh;
    position: relative;
    z-index: 1;
    background-image: url(/images/slider-1-1600x900.jpg);
    background-size: cover;
    color: #fff;
  }

  .main-slider:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .3);
  }

  .slider-content .date {
    margin: 10px 0 0;
  }

  .slider-content i {
    line-height: 1;
  }

  .slider-content i.small-icon {
    font-size: 2.5em;
  }

  .slider-content .title i {
    transform: translateY(10px);
    font-size: .8em;
    color: #E45F74;
  }

  .story-area {
    position: relative;
    z-index: 1;
  }

  .story-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .8;
    background: url(/images/Background_Circle.png);
  }

  .counter-area {
    position: relative;
    z-index: 1;
    background-image: url(/images/counter-1-1600x600.jpg);
    background-size: cover;
    color: #fff;
  }

  .counter-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .3);
  }

  .remaining-time .time-sec {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 30px;
    height: 120px;
    width: 120px;
    padding-top: 25px;
    border-radius: 100px;
    border: 1px solid #fff;
  }

  .remaining-time .time-sec .title {
    font-size: 3em;
    line-height: 1;
    display: block;
  }

  .wedding-details {
    overflow: hidden;
    position: relative;
  }

  .wedding-details:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -.5px;
    width: 1px;
    background: #ccc;
  }

  .w-detail {
    width: 50%;
    padding: 0 50px;
    margin-bottom: 30px;
    position: relative;
    clear: both;
    margin-top: -40px;
  }

  .w-detail:first-child {
    margin-top: 0;
  }

  .w-detail:last-child {
    margin-bottom: 0;
  }

  .w-detail:after {
    content: '';
    position: absolute;
    top: 0;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    z-index: 1;
    border: 1px solid #aaa;
    background: #fff;
  }

  .w-detail.right {
    text-align: left;
    float: right;
  }

  .w-detail.right:after {
    left: 0;
    margin-left: -9px;
  }

  .w-detail.left {
    text-align: right;
    float: left;
  }

  .w-detail.left:after {
    right: 0;
    margin-right: -9px;
  }

  .w-detail .title {
    margin: 10px 0;
  }

  .w-detail .icon {
    font-size: 3.5em;
    line-height: 1;
    color: #E45F74;
  }

  .ceremony-area {
    position: relative;
    z-index: 1;
    background-image: url(/images/counter-1-1600x600.jpg);
    background-size: cover;
    color: #fff;
  }

  .ceremony-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .3);
  }

  .ceremony .desc {
    margin-bottom: 15px;
    color: #fff;
  }

  .contact-area {
    position: relative;
    overflow: hidden;
    box-shadow: 1px 10px 40px rgba(0, 0, 0, .4);
  }

  .contact-area .contact-wrapper {
    width: 50%;
  }

  .contact-area .map-area {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .contact-area .phone {
    margin: 10px 0;
    font-size: 2em;
    color: #E45F74;
  }

  .galery-area .gallery-btn {
    margin-top: 30px;
  }

  @media only screen and (max-width: 767px) {
    .section {
      padding: 50px 0 20px;
    }

    .section .heading {
      padding-bottom: 20px;
    }

    .section .heading .heading-bottom {
      margin-top: 10px;
    }

    .wedding-details {
      margin-left: 15px;
      overflow: visible;
    }

    .wedding-details:after {
      left: 0;
      margin-left: 0px;
    }

    .w-detail {
      width: 100%;
      padding: 0 0 0 30px;
      margin: 0 0 30px;
    }

    .w-detail.left,
    .w-detail.right {
      text-align: left;
      float: none;
    }

    .w-detail.right:after,
    .w-detail.left:after {
      left: 0;
      margin-left: -9px;
    }

    .contact-area .contact-wrapper {
      width: 100%;
      float: none !important;
    }

    .contact-area .map-area {
      height: 400px;
      width: 100%;
      position: static;
    }

    .galery-area .gallery-btn {
      margin-top: 10px;
    }

  }
}
